[user]
	name = Peter Bakkum
	email = peter@quizlet.com

[hub]
protocol = https

[alias]
up = !sh -c 'git pull --prune && git submodule update --init --recursive && git submodule sync'
prp = !sh -c 'git pull --rebase && git push'
gpsu = !sh -c 'git push -u origin `git rev-parse --abbrev-ref HEAD`'

[diff]
tool = opendiff

[color]
ui = true
