[submodule ".vim/bundle/vim-superman"]
	path = .vim/bundle/vim-superman
	url = https://github.com/jez/vim-superman
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
