[submodule ".vim/bundle/vim-superman"]
	path = .vim/bundle/vim-superman
	url = https://github.com/jez/vim-superman
[submodule ".vim/bundle/vim-go"]
	path = .vim/bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "/Users/bakks/.vim/bundle/vim-javascript"]
	path = /Users/bakks/.vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "/Users/bakks/.vim/bundle/vim-jsx"]
	path = /Users/bakks/.vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
